<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="web.member.mapper.MemberMapper">
	<resultMap id="MemberMap" type="Member">
		<id property="memberId" column="member_id" javaType="Integer" jdbcType="INTEGER" />
		<result property="account" column="account" javaType="String" jdbcType="VARCHAR" />
		<result property="password" column="password" javaType="String" jdbcType="VARCHAR" />
		<result property="name" column="name" javaType="String" jdbcType="VARCHAR" />
		<result property="address" column="address" javaType="String" jdbcType="VARCHAR" />
		<result property="phone" column="phone" javaType="String" jdbcType="VARCHAR" />
		<result property="rankId" column="rank_id" javaType="Integer" jdbcType="INTEGER" />
		<result property="ewalletAmount" column="ewallet_amount" javaType="Integer" jdbcType="INTEGER" />
		<result property="ewalletPassword" column="ewallet_password" javaType="String" jdbcType="VARCHAR" />
		<result property="bonusAmount" column="bonus_amount" javaType="Integer" jdbcType="INTEGER" />
		<result property="status" column="status" javaType="Integer" jdbcType="TINYINT" />
		<result property="createTime" column="create_time" javaType="Timestamp" jdbcType="TIMESTAMP" />
	</resultMap>

	<insert id="insert" parameterType="Member">
		insert into MEMBER(USERNAME,PASSWORD,NICKNAME) 
		values(#{username}, #{password}, #{nickname})
	</insert>

	<delete id="deleteById" parameterType="Integer">
		delete from MEMBER where ID= #{id}
	</delete>
	 
	<update id="update" parameterType="Member">
		update MEMBER
		set
			PASSWORD=#{password}
			NICKNAME=#{nickname}
			PASS=#{pass}
			ROLE_ID = #{roleId}
			UPDATER = #{updater}
			LAST_UPDATE_DATE = NOW()
		where
			ID = #{id}
	</update>
	 
	<select id="selectById" parameterType="Integer" resultType="Member">
		select * from MEMBER where member_id = ${id}
	</select>
	
	<select id="selectAll" resultMap="MemberMap">
		select * from members;
	</select>
	
</mapper>