@charset "UTF-8";

	#demo_border {
	position: relative;
	width:280px;
	height:0px;
	}
    
    #image_photo {
　　position: absolute;
    background-image: url("");
 
    background-repeat: no-repeat;
    border-radius: 50%;
    overflow: hidden;

    width: 120px;
    height: 120px;
    transform: translateY(-50px);
	}
	
	#img_text {
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 16px;
	color: #926161;
	border-radius: 50%;
	/* background-color: #F00; */
	width: 150px;
	height:50px;
	text-align: center;
	line-height: 30px;
	transform: translateX(8px) translateY(1px);
	}
	
	img {
  	max-width: 100%;
  	height: 100%;
	}
	
	.shop_toolbar_wrapper {
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  	border: 1px solid #ddd;
  	padding: 85px 250px;
  	margin: 10px;
  	transform: translateY(-100px);
 	}
 	 
	.select_option {
	display: flex;
	align-items: center;
	transform: translateX(90px);
	transform: translateY(20px);
	}
	
	.row.shop_wrapper {
    flex-direction: row;
    transform: translateY(-50px);
	}
	
	#demo_border {
	position: relative;
	width:280px;
	height:0px;
	}
    
    #image_photo {
　　position: absolute;
    background-image: url("");
 
    background-repeat: no-repeat;
    border-radius: 50%;
    overflow: hidden;

    width: 120px;
    height: 120px;
    transform: translateY(-50px);
	}
	
	#img_text {
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 16px;
	color: #926161;
	border-radius: 50%;
	/* background-color: #F00; */
	width: 150px;
	height:50px;
	text-align: center;
	line-height: 30px;
	transform: translateX(8px) translateY(1px);
	}
  
