<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- <properties resource="/resources/druid.properties" /> -->

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="useGeneratedKeys" value="true" />
		<!--以下兩個搭配使用,可傳回空實體 mybatis版本3.4.2以上 -->
		<setting name="returnInstanceForEmptyRow" value="true" />
		<setting name="callSettersOnNulls" value="true" />
		<!--使用緩存 -->
		<setting name="cacheEnabled" value="true" />
		<!-- 顯示查詢語句 -->
		<setting name="logImpl" value="STDOUT_LOGGING" />
		<!--可使用別名 (視驅動兼容性) default:true -->
		<setting name="useColumnLabel" value="true" />
	</settings>
	<typeAliases>
		<typeAlias alias="Boolean" type="java.lang.Boolean" />
		<typeAlias alias="String" type="java.lang.String" />
		<typeAlias alias="Timestamp" type="java.sql.Timestamp" />
		<typeAlias alias="DRUID"
			type="connection.DruidMybatisDataSourceFactory" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://database-1.czlvj0ycwyxq.ap-northeast-1.rds.amazonaws.com:3306/cga_02?serverTimezone=Asia/Taipei" />
				<property name="username" value="cga_02" />
				<property name="password" value="cga_02" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper class="com.picture.mapper.PictureMapper" />
		<mapper class="com.messages.mapper.MessagesMapper" />
		<mapper class="com.chatroom.mapper.ChatroomMapper" />
		<mapper class="com.sort1.mapper.Sort1Mapper" />
	</mappers>
</configuration>