<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<properties resource="/resources/druid.properties" />

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>
	<typeAliases>
		<typeAlias alias="Boolean" type="java.lang.Boolean" />
		<typeAlias alias="String" type="java.lang.String" />
		<typeAlias alias="Timestamp" type="java.sql.Timestamp" />
		<typeAlias alias="DRUID"
			type="connection.DruidMybatisDataSourceFactory" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="DRUID">
				<property name="driver" value="${driverClassName}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper class="com.picture.mapper.PictureMapper" />
		<mapper class="com.chatroom.mapper.ChatroomMapper" />
		<mapper class="com.messages.mapper.MessagesMapper" />
		<mapper class="com.sort1.mapper.Sort1Mapper" />
	</mappers>
</configuration>