@charset "UTF-8";
#back-button {
	letter-spacing: 2px;
	font-size: 20px;
	font-weight: 500;
	height: 38px;
	line-height: 18px;
	padding: 10px 20px;
	color: #ffffff;
	text-transform: uppercase;
	border-radius: 3px;
	border: 2px white;
	transition: all 0.5s;
	background-color: black;
}

#button-area {
	text-align: right;
	margin-bottom: 30px;
	background-color: white;
	border: none;
	box-shadow: none;
}
#back-button:hover {
	border: 1px #ff8080;
	box-shadow: 2px 2px 1px 0px #ff8080, -2px -2px 1px 0px #ff8080;
	background-color: #db3344;
}
