@charset "UTF-8";

.pic_page:hover {
	cursor: pointer;
	background-color: red;
	color: white;
}

.current_page {
	background-color: red !important;
	color: white;
}

#cover-all {
	z-index: 99;
	position: fixed;
	display: none;
	background-color: black;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	margin: auto;
}

#upload-box {
	opacity: 1;
	z-index: 100;
	display: none;
	top: 30%;
}

form.box {
	background-color: #e44242;
	width: 700px;
	height: 400px;
	margin: auto;
	outline: 2px dashed #A9D2FC;
	outline-offset: -10px;
	align-items: center;
	justify-content: center;
	-webkit-transition: outline-offset .15s ease-in-out, background-color
		.15s linear;
	transition: outline-offset .15s ease-in-out, background-color .15s
		linear;
}

form.is-dragover {
	background: #504949;
	outline-offset: -15px;
	-webkit-transition: outline-offset .15s ease-in-out, background-color
		.15s linear;
	transition: outline-offset .15s ease-in-out, background-color .15s
		linear;
}

.box__input {
	padding: 40px 0;
	text-align: center;
}

.box__input p {
	margin: 0;
	color: #fff;
}

.box__icon path {
	fill: #fff;
}

.box__upload {
	display: none;
}

.box__buttons {
	display: inline-flex;
	align-items: center;
	margin-top: 20px;
}

.box__buttons span {
	margin: 0 10px;
	color: #fff;
}

.box__button-search, .box__button-camera {
	border: 0;
	background: #fff;
	border-radius: 5px;
	display: inline-flex;
	align-items: center;
	padding: 5px 10px;
}

.box__button-search svg, .box__button-camera svg {
	margin-right: 10px;
}

.box__button-search:hover, .box__button-camera:hover {
	background: rgba(255, 255, 255, .8);
	cursor: pointer;
}

.services_thumb_ul {
	position: absolute;
	list-style: none;
	left: 30px;
	color: white;
	z-index: 2;
	font-size: 1.125em;
	margin: 10px;
	display: none;
	transition: all 2s;
}

.services_thumb:hover .services_thumb_ul {
	display: block;
	cursor: pointer;
}

.services_thumb:hover .photos {
	cursor: pointer;
	-webkit-filter: brightness(0.5);
}


#button-area{
	text-align:center;
	margin-bottom:30px;
}
#button-area button {
    background: #F53737;
    letter-spacing:2px;
    font-size: 20px;
    font-weight: 500;
    height: 38px;
    line-height: 18px;
    padding: 10px 20px;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 3px;
    border:2px white;
    transition:all 0.5s;
    	background-color:black;
}
#button-area button:hover{
	border:1px grey;
	box-shadow:2px 2px 1px 0px grey,-2px -2px 1px 0px grey;
	background-color: #db3344;
	
}