
#box {
    display: none;
    position: absolute;
    width: 520px;
    height: 300px;
    border: #f60 solid 2px;
    z-index: 200;
    background: #fff;
}


#closeBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

#greybackground {
    background: #000;
    display: block;
    z-index: 100;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

body {
    position: absolute;
}



.forget {
    width: 80px;
    height: 25px;
}

#box2 {
    display: none;
    position: absolute;
    width: 520px;
    height: 300px;
    border: #f60 solid 2px;
    z-index: 200;
    background: #fff;
}


#closeBtn2 {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

#greybackground2 {
    background: #000;
    display: block;
    z-index: 100;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


