<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">




	<filter>
		<filter-name>FilterForEmpLogin</filter-name>
		<filter-class>com.filters.FilterForEmpLogin</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>FilterForEmpLogin</filter-name>
		<url-pattern>/back/customer/*</url-pattern>
		<url-pattern>/back/article/*</url-pattern>
		<url-pattern>/back/order/*</url-pattern>
		<url-pattern>/back/empSelect.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>










	<filter>
		<filter-name>FilterForMemberLogin</filter-name>
		<filter-class>com.filters.FilterForMemberLogin</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FilterForMemberLogin</filter-name>
		<url-pattern>/front/member/*</url-pattern>
		<url-pattern>/front/pet/*</url-pattern>
		<url-pattern>/front/account.jsp</url-pattern>
		<url-pattern>/front/shop/viewGroupOrder.jsp</url-pattern>
		<url-pattern>/front/order/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>




	<filter>
		<filter-name>PetFilter</filter-name>
		<filter-class>com.filters.FilterForPetInformation</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>PetFilter</filter-name>
		<url-pattern>/pet</url-pattern>
		<url-pattern>/activity</url-pattern>
		<url-pattern>/weight</url-pattern>
		<url-pattern>/remind</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>





	<display-name>CGA101G2</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>PictureController</servlet-name>
		<servlet-class>com.picture.controller.PictureController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PictureController</servlet-name>
		<url-pattern>/PictureController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PictureDeleteController</servlet-name>
		<servlet-class>com.picture.controller.PictureDeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PictureDeleteController</servlet-name>
		<url-pattern>/PictureDeleteController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GroupOrderCheckController</servlet-name>
		<servlet-class>com.allOrders.controller.GroupOrderCheckController</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>GroupOrderCheckController</servlet-name>
		<url-pattern>/GroupOrderCheckController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RemindTaskController</servlet-name>
		<servlet-class>com.remind.controller.RemindTaskController</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemindTaskController</servlet-name>
		<url-pattern>/RemindTaskController</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StatViewServlet</servlet-name>
		<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
		<init-param>
			<!-- 允許清空統計數據 -->
			<param-name>resetEnable</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<!-- 用戶名 -->
			<param-name>loginUsername</param-name>
			<param-value>cga-02</param-value>
		</init-param>
		<init-param>
			<!-- 密碼 -->
			<param-name>loginPassword</param-name>
			<param-value>cga-02</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>StatViewServlet</servlet-name>
		<url-pattern>/druid/*</url-pattern>
	</servlet-mapping>


</web-app>